@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #103e10;
    color: #f5deb3;
}

/* Navbar styling */
#navbar {
    background-color: #33cd31;
}

.nav-item:hover {
    font-weight: 900;
}

/* Footer styling */
footer {
    background-color: #000000;
    color: #f5deb3;
}

.contact-input {
width: 300px;
background-color: transparent;
color: #f5deb3;
}

[type="submit"] {
    width: 100px;
    background: #00173c;
    border-radius: 200px;
    border: 0;
    cursor: pointer;
    color: #f5deb3;
}

[type="submit"]:hover {
    background: #000080;
}

/* Projects section card styling */
.card {
    height: 100%;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

/* Buttons styling */
.btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    border: 1px solid lightgrey;
}

.btn-green {
    background-color: #049c04;
}

.btn-red {
    background-color: #FF0000;
}

/* Facts container styling */
.container {
    padding-top: 20px;
}

.fact-card {
    text-align: center;
    color: #f5deb3;
    background-color: #2e8b57;
    width: 200px;
    height: 325px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}

.fact-card > p {
    color: #f5deb3;
}
