@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #103e10;
    color: #f5deb3;
}

/* Navbar styling */
#navbar {
    background-color: #33cd31;
}

.nav-item:hover {
    font-weight: 900;
}

/* Footer styling */
footer {
    background-color: #000000;
    color: #f5deb3;
}

.contact-input {
width: 300px;
background-color: transparent;
color: #f5deb3;
}

[type="submit"] {
    width: 100px;
    background: #00173c;
    border-radius: 200px;
    border: 0;
    cursor: pointer;
    color: #f5deb3;
}

[type="submit"]:hover {
    background: #000080;
}

/* Projects section card styling */
.card {
    height: 100%;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
